@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Noto+Serif:ital@1&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Noto+Serif:ital@1&family=Roboto&family=Roboto+Slab&display=swap');

body{
    position: relative;
    width: 390px;
    height: 844px;
    border : 1px solid red;
    font-family: 'Croissant One', cursive;
}

nav{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}

#nav-top{
    width: 100%;
    height: 50%;
    background :none;
}

#nav-bottom{
    width: 100%;
    height: 50%;
}

#nav-top ul{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    position: relative;
}

#nav-top ul li:first-child{
    position: absolute;
    left: 5px;
}

#nav-top ul li a{
    color:white;
    font-weight: bolder;
    font-size: 20px;
}

#nav-top ul li:last-child{
    position: absolute;
    right: 5px;
}

#nav-bottom ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-bottom ul li a{
    color:white;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}



img{
    width: 100%;
    height: 60%;
}

